<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floor Counts</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        canvas {
            margin-top: 20px;
        }

        h2 {
            color: #333;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h2>Floor Counts</h2>
    <canvas id="floorChart"></canvas>

    <script>
        var floorCounts = {{ floor_counts | tojson | safe }};
        var floorLabels = Object.keys(floorCounts);
        var floorData = Object.values(floorCounts)

        var ctx = document.getElementById('floorChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: floorLabels,
                datasets: [{
                    label: 'Floor Counts',
                    data: floorData,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>
