<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the House Analysis TWINO Test App</h1>
    
    <p>Click the links below to view analysis results:</p>
    <ul>
        <li><a href="{{ url_for('show_average_price_per_unit') }}">Average Price Per Unit</a></li>
        <li><a href="{{ url_for('deal_volume_over_time', criteria='bedrooms') }}">Deal Volume Over Time by Bedrooms</a></li>


    </ul>
</body>
</html>
